{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-5">

    <!-- Search Section -->
    <div class="text-center mb-5">

        <h1 class="fw-bold mb-4">
            AI Ecommerce Recommendation System
        </h1>

        <form action="{% url 'recommend' %}" method="POST">
            {% csrf_token %}

            <div class="row justify-content-center">
                <div class="col-md-8">

                    <input 
                        type="text" 
                        class="form-control form-control-lg"
                        name="product"
                        placeholder="Search product..."
                        required
                    >

                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-4 px-5">
                Recommend
            </button>

        </form>

    </div>


    <!-- Products -->
    {% if recommendations %}
    <div class="row">

        {% for product in recommendations %}
        <div class="col-md-4 mb-4">

            <div class="card shadow-lg border-0 h-100 p-3">

                <div class="card-body">

                    <span class="badge bg-primary mb-3">
                        {{ product.Category }}
                    </span>

                    <h5 class="fw-bold mb-3">
                        {{ product.Title }}
                    </h5>

                    <p class="text-muted">
                        {{ product.Sub_Category }}
                    </p>

                    <hr>

                    <h4 class="text-success">
                        ${{ product.Price }}
                    </h4>

                    <p>
                        ⭐ {{ product.Ratings }}
                    </p>

                    <small class="text-muted">
                        {{ product.Total_Ratings }} Reviews
                    </small>

                </div>

            </div>

        </div>
        {% endfor %}

    </div>
    {% endif %}

</div>

{% endblock %}